---
language: shell
services:
  - docker

stages:
  - lint
  - qa
  - security

before_install:
  - docker info
  - sudo wget -O /usr/local/bin/gitlab-runner https://gitlab-runner-downloads.s3.amazonaws.com/latest/binaries/gitlab-runner-linux-amd64
  - sudo chmod a+rx /usr/local/bin/gitlab-runner

jobs:
  include:
    - name: php linting
      stage: lint
      script:
        - docker run -v $(pwd):/code pipelinecomponents/php-linter:latest parallel-lint --colors .

    # 2 ways to run the same command
    - name: phpcs PSR12 gitlab style
      stage: qa
      script:
        - gitlab-runner exec docker 'phpcs PSR12'
    - name: phpcs PSR12 docker style
      stage: qa
      script:
        - docker run -v $(pwd):/code pipelinecomponents/php-codesniffer:latest phpcs -s -p --colors --extensions=php --standard=PSR12 .
    - name: Stylelint
      script:
        - docker run -v $(pwd):/code pipelinecomponents/stylelint:latest stylelint --color '**/*.css'
    - name: markdown lint
      script:
        - gitlab-runner exec docker markdownlint
    - name: security checker
      stage: security
      script:
        - docker run -v $(pwd):/code pipelinecomponents/php-security-checker:latest security-checker security:check composer.lock
