---
language: shell
services:
  - docker


stages:
  - test

jobs:
  - stage: test
    script: docker run -v $(pwd):/code pipelinecomponents/php-linter:latest parallel-lint --colors .
  - script: docker run -v $(pwd):/code pipelinecomponents/php-security-checker:latest security-checker security:check composer.lock
  - script: docker run -v $(pwd):/code pipelinecomponents/stylelint:latest stylelint --color '**/*.css'
  - script: docker run -v $(pwd):/code pipelinecomponents/php-codesniffer:latest phpcs -s -p --colors --extensions=php --standard=PSR12 .
